@import '../../node_modules/bootstrap/less/variables.less';

.cover {
  padding: 0;

  .content {
    height: 100%;
    margin: 0;
    padding: 0;
    color: red;
    background: url(../images/book-cover-bg.jpg) repeat;
    text-align: center;

    h1 {
      // vertical centering
      position: absolute;
      margin: 50px auto 0 auto;

      @media (min-width: @screen-sm-min) {
        margin: 0;
        top: 50%;
        transform: translateY(-50%);
      }

      // horizontal centering
      width: 100%;
      text-align: center;
      
      text-shadow: 2px 1px white;
      font-size: 80px;

      @media(min-width: @screen-sm-min) {
        font-size: 150px;
        text-shadow: 3px 3px white;
      }
    }
  }
}