@import 'variables.less';

.page {
  margin: 30px;
  border: 1px solid #999;
  box-sizing: border-box;
  //padding: @page-line-height * 2;

  .content {
    margin-top: @page-line-height * 0.5;
    margin-bottom: @page-line-height * 1.5;
    font-family: Parisienne; // fonts: Gabriela, Parisienne
    background: url('../images/page-bg.png');
    line-height: @page-line-height;
  }
}