@import 'variables.less';

.page-line(@padding) {
  margin: 0;
  line-height: @page-line-height;
  box-sizing: border-box;
  padding: 0 @padding;
}

.recipe {
  h2 {
    .page-line(10px);
    font-size: 45px;
    margin-top: @page-line-height;
    margin-bottom: @page-line-height;
  }

  p {
    .page-line(15px);
    font-size: 30px;
    text-align: justify;

    &.ingredients{
      margin-bottom: @page-line-height;

      span {
        &.ingredient {
          display: block;
        }
      }
    }
  }
}